body{
  background-color: black;
  color: white;
}

.yellow {
  background-color: yellow;
  color: grey;
  font-weight: bold;

}

.breakBG {
  background-color: lightgreen;
}

.col-centered{
  float: none;
  margin: 0 auto;
  text-align: center;
}
#timer {
  font-size: 1800%;
}

#start {
  font-size: 750%;
  background-color: lightgreen;
}
#break{
  font-size:750%;
  background-color: lightblue;
  display:none;
}
#container{
  width: 100%;

}

#break15{
  background-color: yellow;
  font-size: 500%;
}
#roundCount{
  display:inline-block;
}
#totalRounds{
  font-size: 400%;
  color: lightgreen;
  font-weight:bold;
  display:inline-block;
  margin-right: 15%;
}
#breakCount{
  display:inline-block;
}
#totalBreaks{
  font-size: 400%;
  color: lightblue;
  font-weight:bold;
  display:inline-block;

}
