body{
  background: black;
  background: -webkit-radial-gradient(#404f4a, black); /* For Safari 5.1 to 6.0 */
  color: white;
}

button {
  outline:none;
}

h4 {
  color: grey;
}

.yellow {
  background-color: yellow;
  background: -webkit-linear-gradient(yellow, white); /* For Safari 5.1 to 6.0 */
  color: grey;
  font-weight: bold;

}

.breakBG {
  background-color: lightgreen;
}

.col-centered{
  float: none;
  margin: 0 auto;
  text-align: center;
}

.btn {
  border: none;
}

#timer {
  font-size: 1800%;
}

button:hover {
    letter-spacing: 0.05em;
    margin-top: -5px;
}

#break:hover {
  margin-top: -5px;
}

#start {
  font-size: 750%;
  background-color: lightgreen;
}
#break{
  font-size:750%;
  background-color: lightblue;
  display:none;
}
#container{
  width: 100%;

}

#break15{
  background-color: yellow;
  font-size: 500%;
}
#roundCount{
  display:inline-block;
}
#totalRounds{
  font-size: 400%;
  color: lightgreen;
  font-weight:bold;
  display:inline-block;
  margin-right: 15%;
}
#breakCount{
  display:inline-block;
}
#totalBreaks{
  font-size: 400%;
  color: lightblue;
  font-weight:bold;
  display:inline-block;

}
